@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border-2 p-2;
  }
  .form-item {
    @apply flex flex-col;
  }
  .error {
    @apply text-red-600;
  }
}

button {
  background-color: #80bcbd;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 2px 2px 5px gray;
}
